:root {
  --primary-color:  #58575c;
  --bg-color: #f5f5f5;
  --light-bg-color: #fff;
  --text-color: #111116;
  --light-text-color: #cdccd1;
  --primary-text-color: #fff;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background:  #a5a4a7;;
  /*background-image: url(download.webp);*/
  
  

}
body.dark {
  --bg-color: #111116;
  --light-bg-color: #1c1b20;
  --text-color: #fff;
  --light-text-color: #58575c;
}
.container {
  position: relative;
  width: 1300px;
  height: 500px;
  padding: 0 20px;
  display: flex;
  gap: 10px;
  /*opacity: 0.9;*/
  
  
 
}
.container .card {
  flex: 1;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--light-bg-color);

  
 
}
.container .card .from,
.container .card .to {
  display: flex;
  align-items: center;
  gap: 20px;
  
 
}
.container .card .from {
  margin-right: 20px;
  
}
.container .card .to {
  margin-left: 20px;
}
.container .card .heading {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-text-color);
  white-space: nowrap;
}
.dropdown-container {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
 
}
.dropdown-container .dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s;

}
.dropdown-container .dropdown-toggle span {
  flex: 1;
  margin-left: 10px;
  
}
.dropdown-container .dropdown-toggle ion-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
  
}
.dropdown-container.active .dropdown-toggle {
  border-radius: 20px 20px 0 0;
}
.dropdown-container.active .dropdown-toggle ion-icon:last-child {
  transform: rotate(180deg);
}
.dropdown-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: auto;
  display: none;
  padding: 20px;
  z-index: 1;
  list-style: none;
  flex-direction: column;
  background-color: var(--bg-color);
  transition: all 1s;
  border-radius: 0 0 20px 20px;
 
}
.dropdown-container .dropdown-menu::-webkit-scrollbar {
  display: none;
}
.dropdown-container.active .dropdown-menu {
  display: flex;
}

.dropdown-container .dropdown-menu li {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--light-bg-color);
  transition: all 0.3s ease;
}
.dropdown-container .dropdown-menu li:hover {
  background-color: var(--light-bg-color);
}
.dropdown-container .dropdown-menu li.active {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.container .text-area {
  position: relative;
}
.container textarea {
  width: 100%;
  height: 50%;
  padding: 10px;
  margin: 10px 0;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  color: var(--text-color);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  
}
.container .text-area .chars {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 0.8rem;
  color: var(--light-text-color);
}
.container .center {
  position: relative;
}
.swap-position {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--bg-color);
  transition: all 0.3s ease;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.swap-position ion-icon {
  font-size: 25px;
}
.swap-position:hover {
  transform: translateX(-50%) scale(1.1);
}

/* media quiries */
@media (max-width: 800px) {
  .container {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
  }
  .container .card {
    width: 100%;
  }
  .container .card .from {
    margin-right: 0;
  }
  .container .card .to {
    margin-left: 0;
  }
  .container .card .from,
  .container .card .to {
    flex-direction: column;
  }

  .swap-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swap-position:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
  .swap-position ion-icon {
    transform: rotate(90deg);
  }
  
}



/* Style for the microphone and refresh buttons */
.speech-btn {
  background-color: #f2f2f2;
  border: none;

  color: #333;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.speech-btn:hover {
  background-color: #ddd;
}

#refresh-btn {
  margin-left: 8px;
}

/* Positioning the buttons */
.text-area {
  position: relative;
}

.text-area textarea {
  padding-right: 50px; 
}

.text-area textarea::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-500%);
  font-size: 24px;
  cursor: pointer;
}

#paste-btn {
  margin-left: 2px;
  
}

/* Styling for the image output */
#imageOutput {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
   max-height: 200px;  

 
}

#imageOutput img {
  max-width: 88%;
  max-height: 10%;
  border-radius: 10px;
  margin-left: -5px;
  margin-top: -100px;
  position: relative;
  max-height: 200px;
 
}

/* Styling for the dictionary and synonyms section */
.card-synonyms-wrapper {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin: 0 20px;
  position: relative;
  max-height: 200px; 
  overflow-y: auto; 
}


.synonyms-title {
  margin-bottom: 20px;
}

.synonyms-title p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #111116;
  margin: 0;
}

.dictionary-result {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: none;
  z-index: 1;
  margin-bottom: 100px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dictionary-result.active {
  display: block;
}

.dictionary-result h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #111116;
}

.dictionary-result p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #555;
}

.synonyms-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.word {
  margin-bottom: 30px;
}

.word h3 {
  font-size: 1.5rem;
  color: #111116;
}

.details {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.details p {
  font-size: 1rem;
  color: #888;
}

.word-meaning {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.word-example {
  font-size: 1rem;
  color: #666;
}

/* Media query for responsive design */
@media (max-width: 800px) {
  .card-synonyms-wrapper {
    margin: 20px 0;
  }
}


 /* Speech pulse Animation*/
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.pulse-animation {
  animation: pulse 1s infinite, colorChange 1s infinite;
}

@keyframes colorChange {
  0%, 100% {
    background-color: var(--bg-color);
  }
  50% {
    background-color: var(--primary-color);
  }
}
